<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Night Log</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body style="white-space: pre; line-height: 1;">
    <div class="text-center">
        Apache Point Observatory<br>
        3.5m Telescope Night Log<br>
        {{ date }}
    </div>
    
    <div style="margin-left: 1rem; line-height: 0.5;">
        PROG  PI ASTRONOMER      OBSERVER(S)<br>
        --------------------------------------------------------------------<br>
        {% for program in obslogs %}
        <span style="display: inline-block; width: 3.25rem">{{ program.prog }}</span><span style="display: inline-block; width: 9.25em">{{ program.PIObs }}  </span><span style="display: inline-block; width: 6rem">{{ program.Obs }}</span><br>
        {% endfor %}
    </div>
    
    <div style="margin-left: 1rem; line-height: 0.5;">
        ON-SKY<br>
        PROG  INSTRUMENT     START           FINISH<br>
        --------------------------------------------------------------------<br>
        {% for program in obslogs %}
        <span style="display: inline-block; width: 3.25rem">{{ program.prog }}</span><span style="display: inline-block; width: 5.5rem">{{ program.instrument }}</span><span style="display: inline-block; width: 6rem">{{ program.starttime }}</span><span style="display: inline-block; width: 7rem">{{ program.endtime }}</span><br>
        {% endfor %}
    </div>
    
    <div style="margin-left: 1rem; line-height: 0.5;">
           PROG            SCHEDULED      WEATH     EQUIP     OBS     NOT USED<br>
        I/ROW/DTN   START  FINISH      D    B         D    B      D    B        D    B    <br>
        --------------------------------------------------------------------------------------------------<br>
        {% for program in proglogs %}
        <span style="display: inline-block; width: 4.5rem">{{ program.progid }}/{{ program.progloc }}/{{ program.progdtn }}</span><span style="display: inline-block; width: 3.75rem">{{ program.schedstart }}</span><span style="display: inline-block; width: 3.75rem">{{ program.schedend }}</span><span style="display: inline-block; width: 1.5rem">{{ program.weatherd }}</span><span style="display: inline-block; width: 2.5rem">{{ program.weatherb }}</span><span style="display: inline-block; width: 1.5rem">{{ program.equipd }}</span><span style="display: inline-block; width: 2rem">{{ program.equipb }}</span><span style="display: inline-block; width: 1.5rem">{{ program.obsd }}</span><span style="display: inline-block; width: 2rem">{{ program.obsb }}</span><span style="display: inline-block; width: 1.5rem">{{ program.notusedd }}</span><span style="display: inline-block; width: 3rem">{{ program.notusedb }}</span><br>
        {% endfor %}
        
    </div>

    <div style="margin-left: 1rem; line-height: 0.5;">
                    ------------- ACTIVITY LOG --------------<br>
        Observing Specialist: {{ activity_log.ObservingSpec }}<br>
        <br>
        {{ activity_log.notes }}<br>

    </div>

    <div style="margin-left: 1rem; line-height: 0.5; white-space: pre;">
        <span style="display: inline-block; width: 12.5rem"></span>------- FAILURE LOG -------<br>
        <span style="display: inline-block; width: 8rem"></span><span style="width: 12.5rem">FAILURE MODE</span>                 TIME</span><br>
        <span style="display: inline-block; width: 5rem">PROG</span><span style="display: inline-block; width: 5rem">INSTR</span><span style="display: inline-block; width: 5rem">TI/SHU</span><span style="display: inline-block; width: 5rem">START</span><span style="display: inline-block; width: 5rem">END</span><span style="display: inline-block; width: 20rem">DESC</span><br>
        -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------<br>
        {% for failure in failure_log %}
        <span style="display: inline-block; width: 5rem">{{ failure.prog }}</span><span style="display: inline-block; width: 5rem">{{ failure.instrument }}</span><span style="display: inline-block; width: 5rem">{{ failure.TI }}/{{ failure.SHU }}</span><span style="display: inline-block; width: 5rem">{{ failure.FAILSTART }}</span><span style="display: inline-block; width: 5rem">{{ failure.FAILEND }}</span><span style="display: inline-block; width: 20rem">{{ failure.FAILDISC }}</span><br>
        {% endfor %}
    </div>
</body>


