<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Nightlog</title>
        {% else %}
        <title>Welcome to the 3.5 Nightlog Homepage!</title>
        {% endif %}
    </head>
    <body>
        <div>Nightlog: 
            <a href="{{ url_for('home') }}">Home</a> 
            <a href="{{ url_for('currentlog') }}">Current Log</a>
            <a href="{{ url_for('prevlogs') }}">Previous Logs</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>