<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
        <title>{{ title }} - Nightlog</title>
        {% else %}
        <title>Welcome to the 3.5 Nightlog Homepage!</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div>Nightlog: 
            <a href="{{ url_for('currentlog') }}">Current Log</a>
            <a href="{{ url_for('prevlogs') }}">Previous Logs</a>
            <a href="{{ url_for('preview') }}">Preview</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>