{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <p style="text-align: center">Apache Point Observatory</p>
    <p style="text-align: center">3.5m Telescope Night Log</p>
    <p style="text-align: center">{{ date }}</p>
</div>

<div style="margin-left: 1rem;">
    <p>PROG  PI ASTRONOMER      OBSERVER(S)</p>
    <p>--------------------------------------------------------------------</p>
    {% for program in obslogs %}
    <p><span style="display: inline-block; width: 3.25rem">{{ program.prog }}</span><span style="display: inline-block; width: 9.25em">{{ program.PIObs }}  </span><span style="display: inline-block; width: 6rem">{{ program.Obs }}</span></p>
    {% endfor %}
</div>

<div style="margin-left: 1rem;">
    <p style="text-align: center; margin-top: 1.5rem;"><strong>ON-SKY</strong></p>
    <p>PROG  INSTRUMENT     START           FINISH</p>
    <p>--------------------------------------------------------------------</p>
    {% for program in obslogs %}
    <p><span style="display: inline-block; width: 3.25rem">{{ program.prog }}</span><span style="display: inline-block; width: 7.5rem">{{ program.instrument }}</span><span style="display: inline-block; width: 6rem">{{ program.starttime }}</span><span style="display: inline-block; width: 7rem">{{ program.endtime }}</span></p>
    {% endfor %}
</div>

<div style="margin-left: 1rem;">
    <p>   PROG            SCHEDULED      WEATH     EQUIP     OBS     NOT USED</p>
    <p>I/ROW/DTN   START  FINISH      D    B         D    B      D    B        D    B    </p>
    <p>--------------------------------------------------------------------------------------------------</p>
    {% for program in proglogs %}
    <p><span style="display: inline-block; width: 6rem">{{ program.progid }}/{{ program.progloc }}/{{ program.progdtn }}</span><span style="display: inline-block; width: 4rem">{{ program.schedstart }}</span><span style="display: inline-block; width: 5rem">{{ program.schedend }}</span><span style="display: inline-block; width: 3rem">{{ program.weatherd }}</span><span style="display: inline-block; width: 2.25rem">{{ program.weatherb }}</span><span style="display: inline-block; width: 2rem">{{ program.equipd }}</span><span style="display: inline-block; width: 2.25rem">{{ program.equipb }}</span><span style="display: inline-block; width: 2rem">{{ program.obsd }}</span><span style="display: inline-block; width: 2.25rem">{{ program.obsb }}</span><span style="display: inline-block; width: 2rem">{{ program.notusedd }}</span><span style="display: inline-block; width: 3rem">{{ program.notusedb }}</span></p>
    {% endfor %}
    
</div>

<div class="form">
    <form action="" method = "post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="{{ form.email.id }}">{{ form.email.label.text }}</label>
        {{ form.email() }}
    </div>

    <p>{{ form.submit() }}</p>
    </form>
</div>

{% endblock %}